*{
    margin:0;
    padding:0;
}

.site-container {
    width: 50%;
    height: 100vh;
    margin: auto ;
}

.page-header, .order-info, .product-list {
    display: flex;
    justify-content: space-between;
}

.page-header {
    background-color: #dcdcdc;
}

h2 {
    font-size: 20px;
}

.title p {
    color: gray;
    font-size: 17px;
}
.arrow {
   margin-top: 5px;
   border: none;
   outline: none;
   background: none;
   color: gray;
   font-size: 30px;
}

.btn {
    margin-top: 7px;
    padding: 10px 15px;
    background-color: #000;
    color: white;
}

.page-header,.customer-info, .order-info, .product-list {
    border: 1px solid gray;
    margin: 10px auto;
    padding: 10px 20px;
}
.date{
    color:gray;
}
.order-info {
    background: gainsboro;
}

.img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    width: 75%;
    text-align: left;
}
.product-list .arrow {
    margin-top: 40px ;
} 