.container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  margin:70px;
  
}
.para{
  align-items:flex-start;
}
#img{
  border-radius: 20px;
}
#employeeName{
  color:aqua;
  font-size: 20px;
}
.key{
  color:gray;
  font-size:13px;
}